
.icon-glass:before { content: '\e800'; } /* '' */
.icon-food-1:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-list-add:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-cancel-alt:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */